In [1]:
from modules.utils import *
import re
try:
    os.chdir('result')
except Exception as e:
    pass

In [2]:
def compile(path, tag):
    with open(path, 'r') as f:
        data = []
        for line in f.readlines():
            line = line.strip().replace('+','-')
            fragments = list(filter(None,re.split(r'[=\s]', line)))
            data.append({
                'refset' : fragments[1],
                'seed_size' : eval(fragments[3]),
                'ndcg' : eval(fragments[7]),
                'auc' : eval(fragments[9]),
                'kind' : tag
            })
        return data

In [3]:
def compile_ext(path, tag):
    with open(path, 'r') as f:
        data = []
        for line in f.readlines():
            line = line.strip().replace('+','-')
            fragments = list(filter(None,re.split(r'[=\s]', line)))
            #print(fragments)
            data.append({
                'refset' : fragments[1],
                'seed_size' : 5,
                'depth' : eval(fragments[3]),
                'ndcg' : eval(fragments[7]),
                'auc' : eval(fragments[9]),
                'kind' : tag
            })
        return data

In [4]:
def compile_ext_mts(path, tag):
    with open(path, 'r') as f:
        data = []
        for line in f.readlines():
            line = line.strip().replace('+','-')
            fragments = list(filter(None,re.split(r'[=\s]', line)))
            #print(fragments)
            data.append({
                'refset' : fragments[1],
                'seed_size' : eval(fragments[5]),
                'depth' : eval(fragments[3]),
                'ndcg' : eval(fragments[9]),
                'auc' : eval(fragments[11]),
                'kind' : tag
            })
        return data

In [5]:
pd.DataFrame(compile('nhs_module_random.txt', 'NHS_L_R')).groupby('seed_size').mean()
# Change mean to std for standard error, e.g., pd.DataFrame(compile('nhs_module_random.txt', 'NHS_L_R')).groupby('seed_size').std()

               ndcg       auc
seed_size
1          0.409350  0.508363
5          0.473304  0.547292

In [10]:
pd.DataFrame(compile_ext('nhs_sigext_random.txt', 'NHS_E_R')).groupby('depth').mean()

       seed_size      ndcg       auc
depth
1              5  0.491388  0.543075
2              5  0.479942  0.543142

In [11]:
pd.DataFrame(compile('nhs_mtaocc_random.txt', 'NHS_M_R')).groupby('seed_size').mean()

               ndcg       auc
seed_size
5          0.677162  0.915534

In [12]:
pd.DataFrame(compile('nhs_nnrank_random.txt', 'NHS_N_R')).groupby('seed_size').mean()

               ndcg       auc
seed_size
1          0.685743  0.921866
5          0.779312  0.964857

In [13]:
pd.DataFrame(compile('nhs_nnrank_random_ft.txt', 'NHS_N_RF')).groupby('seed_size').mean()

               ndcg       auc
seed_size
1          0.694950  0.933290
5          0.787572  0.969808

In [14]:
pd.DataFrame(compile('nrc_module_random.txt', 'NRC_L_R')).groupby('seed_size').mean().iloc[[0,4],:]

               ndcg       auc
seed_size
1          0.491017  0.506417
5          0.518283  0.545813

In [15]:
pd.DataFrame(compile_ext('nrc_sigext_random.txt', 'NRC_E_R')).groupby('depth').mean()

       seed_size      ndcg       auc
depth
1              5  0.556770  0.535983
2              5  0.543097  0.537810

In [17]:
pd.DataFrame(compile('nrc_mtaocc_random.txt', 'NRC_M_R')).groupby('seed_size').mean()

               ndcg       auc
seed_size
5          0.716513  0.888057

In [18]:
pd.DataFrame(compile('nrc_nnrank_random.txt', 'NRC_N_R')).groupby('seed_size').mean().iloc[[0,4],:]

               ndcg       auc
seed_size
1          0.713177  0.896560
5          0.772500  0.942897

In [19]:
pd.DataFrame(compile('nrc_nnrank_random_ft.txt', 'NRC_N_RF')).groupby('seed_size').mean().iloc[[0,4],:]

               ndcg       auc
seed_size
1          0.735670  0.904003
5          0.801877  0.947907

In [20]:
pd.DataFrame(compile('nrc_module_select.txt', 'NRC_L_S')).groupby('seed_size').mean()

               ndcg       auc
seed_size
1          0.488487  0.508187
2          0.501673  0.519083
3          0.506470  0.532077
4          0.515527  0.541190
5          0.522472  0.546800

In [21]:
pd.DataFrame(compile_ext_mts('nrc_sigext_select.txt', 'NRC_E_S')).groupby(['depth','seed_size' ]).mean()

                     ndcg       auc
depth seed_size
1     1          0.499670  0.508033
      2          0.519180  0.515193
      3          0.534183  0.521433
      4          0.549493  0.528230
      5          0.557563  0.533387
2     1          0.495577  0.508653
      2          0.509553  0.516127
      3          0.523330  0.522823
      4          0.536057  0.529613
      5          0.543803  0.534773

In [22]:
pd.DataFrame(compile('nrc_mtaocc_select.txt', 'NRC_M_S')).groupby('seed_size').mean()

               ndcg       auc
seed_size
1          0.712773  0.723983
2          0.752448  0.830657
3          0.749123  0.868347
4          0.751963  0.880723
5          0.752403  0.920090

In [23]:
pd.DataFrame(compile('nrc_nnrank_select.txt', 'NRC_N_S')).groupby('seed_size').mean()

               ndcg       auc
seed_size
1          0.797723  0.940667
2          0.823283  0.953793
3          0.836723  0.960940
4          0.840710  0.964927
5          0.848343  0.966400

In [24]:
pd.DataFrame(compile('nrc_nnrank_select_ft.txt', 'NRC_N_SF')).groupby('seed_size').mean()

               ndcg       auc
seed_size
1          0.803873  0.946503
2          0.829347  0.957797
3          0.844130  0.964877
4          0.848210  0.968387
5          0.855293  0.969650